<!DOCTYPE html>
<html lang="pt_BR">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block head %}
    <title>Gym Manager</title>
  {% endblock %}

    <link rel="shortcut icon" href="/assets/fitness_center-white-18dp.svg" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">

  </head>

  <body>    

    <header>
      <div class="links">
        <a href="/" class='active'>Instructors</a>
        <a href="/members">Members</a>
      </div> 
    </header>

  {% block content %}{% endblock %}
  
  </body>

</html>