<script>
  const formDelete = document.querySelector('#form-delete')

  formDelete.addEventListener('submit', (event) => {
      const confirmation = confirm('Do you really want to delete this?')

      if(!confirmation) {
        event.preventDefault()
      }
  })
</script>