<!DOCTYPE html>
<html lang="pt_BR">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block head %}
    <title>Launchstore</title>
  {% endblock %}

  {% include "parts/styles.njk" %}
  </head>

  <body>    
    {% include "parts/messages.njk" %}
    {% include "parts/header.njk" %}

    {% block content %}{% endblock %}

    {% include "parts/footer.njk" %}
  </body>

</html>