{% extends 'layout.njk' %}

{% block content %}

{% block head %}
  <title>Sobre - {{about.name}}</title>
{% endblock %}


    <div id="wrapper">
      <img src="{{about.avatar_url}}" alt="Image of {{about.name}}">
      <h1>{{about.name}}</h1>
      <h2>{{about.role}}</h2>
      <p>{{about.description}}</a>
      </p>
    </div>

{% endblock %}
