{% extends 'layout.njk' %}

{% block content %}

{% block head %}
  <title>Sobre - Ian Ramos</title>
{% endblock %}


    <div id="wrapper">
      <img src="https://avatars0.githubusercontent.com/u/45082049?s=460&u=bfd74e9c053f3fbad257bdddeca3260b3504d7e2&v=4" alt="Ian Ramos">
      <h1>Ian Ramos</h1>
      <h2>Estudante</h2>
      <p>Entusiasta em programação e desenvolvedor júnior full stack em aprendizado pela <a href="https://rocketseat.com.br" target="_blanck">Rocketseat</a>
      </p>
    </div>

{% endblock %}
