{% extends 'layout.njk' %}

{% block head %}
  <title>Estudo - Ian Ramos</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
      <h1>Conteúdo:</h1>
    </div>

    <section class="cards">

      <div class="card" id="hN0zWNuZJC4">
        <div class="card_image-container">
          <img src="https://img.youtube.com/vi/hN0zWNuZJC4/maxresdefault.jpg" alt="Video 1">
        </div>
        <div class="card_content">
          <p>Será que eu já tive uma ideia bilionária de aplicativo?</p>
        </div>
        <div class="card_info">
            <p>11 min</p>
            <p class="card_price">Free</p>
        </div>
      </div>

      <div class="card" id="UftSB4DaRU4">
        <div class="card_image-container">
          <img src="https://img.youtube.com/vi/UftSB4DaRU4/maxresdefault.jpg" alt="Video 2">
        </div>
        <div class="card_content">
          <p>Manipulação de DOM com JavaScript, do zero, na prática | Masterclass #18</p>
        </div>
        <div class="card_info">
            <p>1:37:30 min</p>
            <p class="card_price">Free</p>
        </div>
      </div>

      <div class="card" id="x4FdZd2-_uU">
        <div class="card_image-container">
          <img src="https://img.youtube.com/vi/x4FdZd2-_uU/maxresdefault.jpg" alt="Video 3">
        </div>
        <div class="card_content">
          <p>Recriando a Interface do Discord com ReactJS | UI Clone</p>
        </div>
        <div class="card_info">
            <p>2:22:50 min</p>
            <p class="card_price">Free</p>
        </div>
      </div>

      <div class="card" id="GTMEuHxh8aQ">
        <div class="card_image-container">
          <img src="https://img.youtube.com/vi/GTMEuHxh8aQ/maxresdefault.jpg" alt="Video 4">
        </div>
        <div class="card_content">
          <p>Validação de forms customizada com HTML e JavaScript | Code/Drops #32</p>
        </div>
        <div class="card_info">
            <p>1:01:31 min</p>
            <p class="card_price">Free</p>
        </div>
      </div>

      <div class="card" id="SrY8qV6UJ1M">
        <div class="card_image-container">
          <img src="https://img.youtube.com/vi/SrY8qV6UJ1M/maxresdefault.jpg" alt="Video 5">
        </div>
        <div class="card_content">
          <p>Deploy de apps ReactJS para Google Cloud Storage (part. Guilherme Pellizzetti) | Masterclass #17</p>
        </div>
        <div class="card_info">
            <p>48:34 min</p>
            <p class="card_price">Free</p>
        </div>
      </div>

      <div class="card" id="zy-B9d2ZVrw">
        <div class="card_image-container">
          <img src="https://img.youtube.com/vi/zy-B9d2ZVrw/maxresdefault.jpg" alt="Video 6">
        </div>
        <div class="card_content">
          <p>Navegador flutuante com ElectronJS | Code/Drops #30</p>
        </div>
        <div class="card_info">
            <p>22:22 min</p>
            <p class="card_price">Free</p>
        </div>
      </div>

    </section>

    <div class="modal-overlay">

      <div class="modal">
        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>

        <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>

    </div>

    <script src="scripts.js"></script>

{% endblock %}