{% extends "layout.njk" %}

{% block content %}

  <section class="container form">
    <form method="POST" action="/products?_method=PUT" enctype="multipart/form-data">

      <div class="header">
        <h3>Edit product:</h3>
      </div>

      <div class="fields">
        {% include "products/fields.njk" %}
        <input type="hidden" name="id" value='{{ product.id }}'>
      </div>
        
      <button class="button edit" type='submit'>Atualize</button>

    </form>

    <form id='form-delete' method='POST' action='/products?_method=DELETE'>
      <input type='hidden' name='id' value='{{ product.id }}'>
      <button class="button delete" type="submit">Delete</button>
    </form>

    {% include 'confirm.njk' %}

  </section>

{% endblock content %}