<div class="item">
  <div>Category:</div>
  <div>
    <select name="category_id">
      {% for category in categories %}
        <option value="{{ category.id }}" {% if product.category  == category.id %} selected {% endif %}>
          {{ category.name }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="item">
  <div>Title:</div>
  <div>
    <input type="text" name="name" placeholder="Enter Ad Title" value="{{ product.name }}" >
  </div>
</div>

<div class="item">
  <div>Description:</div>
  <div>
    <textarea name="description">
      {{ product.description }}
    </textarea>
  </div>
</div>

{# Photo field #}

<div class="item">
  <div>Price:</div>
  <div>
    <input 
      type="text" 
      name="price" 
      placeholder="Price of the product" 
      value="{{ product.price }}" 
      onkeydown="Mask.apply(this, 'formatBRL')"
    >
  </div>
  {% if product.old_price %}
    <input type="hidden" name="old_price" value="{{ product.old_price }}">
  {% endif %}
</div>

<div class="item">
  <div>Quantity:</div>
  <div>
    <input type="number" name="quantity" placeholder="Available stock" value="{{ product.quantity }}" >
  </div>
</div>

{% if product.status %}
  <div class="item">
    <div>Available ?</div>
    <div>
      <span>
        <input type="radio" name="status" value="1"
        {% if product.status == "1" %} checked {% endif %}>Yes
      </span>
      <span>
        <input type="radio" name="status" value="0"
        {% if product.status == "1" %} checked {% endif %}>No
      </span>
    </div>
  </div>
{% endif %}