.card.table-container {
  display: block;
  padding: 40px;
}

table {
  border-spacing: 0;
}

thead tr th {
  text-align: left;
}

td, th {
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

th {
  text-transform: uppercase;
  color: #777777;
  font-size: 14px;
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr td:first-child {
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;
}

tbody tr td:first-child span {
  width: 48px;
  height: 48px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 4px 1px 10px -4px black;
  border: 2px solid var(--primary-color);
}

tbody tr td:last-child a {
  background-color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}

th:last-child,
td:last-child {
  text-align: center;
}