{% extends "layout.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

  {% call card.render("Register product:", "product-create container") %}
    <form method="POST" action="/products" enctype="multipart/form-data">

      <div class="fields">
        {% include "products/fields.njk" %}
      </div>
        
      <button class="button" type="submit" onclick="Validate.allFields(event)">Save</button>

    </form>
  {% endcall %}

{% endblock content %}