{% extends 'layout.njk' %}%}

{% block content %}

<div class="card">
  <section class="image"></section>

  <section class="details">
    <h3>Informations:</h3>

    <ul>
      <li class="item">
        <div>Full name:</div>
        <div>Flora Reis</div>
      </li>
      <li class="item">
        <div>Age:</div>
        <div>30</div>
      </li>
      <li class="item">
        <div>Education level:</div>
        <div>Doctorate</div>
      </li>
      <li class="item">
        <div>Class type:</div>
        <div>Remotely</div>
      </li>
      <li class="item">
        <div>University sybject:</div>
        <div>
          <span>Data Structure and Algorithms</span>
          <span>Compilers</span>
        </div>
      </li>
      <li class="item">
        <div>On the platform since:</div>
        <div>10/10/2020</div>
      </li>
    </ul>
    
  </section>
</div>

{% endblock content %}