<ul>
  <li class="item">
    <div>Avatar_URL:</div>
    <div>
      <input type="url" name='avatar_url' placeholder='http://' value='{{ student.avatar_url }}'>
    </div>
  </li>

  <li class="item">
    <div>Name:</div>
    <div>
      <input type="text" name='name' placeholder='Enter your full name' value='{{ student.name }}'>
    </div>
  </li>

  <li class="item">
    <div>Email:</div>
    <div>
      <input type="email" name='email' placeholder='Enter your email' value='{{ student.email }}'>
    </div>
  </li>

  <li class="item">
    <div>Date of birth:</div>
    <div>
      <input type='date' name='birth_date' value='{{ student.birth_date }}'>
    </div>
  </li>

  <li class="item">
    <div>School year:</div>
    <div>
      <select name='school_year' required>
        <option value="" disabled selected>Selected</option>
        <option value='5th' {% if student.education == '5th'%} selected {% endif %}>5th year of elementary school</option>
        <option value='6th' {% if student.education == '6th'%} selected {% endif %}>6th year of elementary school</option>
        <option value='7th' {% if student.education == '7th'%} selected {% endif %}>7th year of elementary school</option>
        <option value='8th' {% if student.education == '8th'%} selected {% endif %}>8th year of elementary school</option>
        <option value='1st' {% if student.education == '1st'%} selected {% endif %}>1st year of high school</option>
        <option value='2nd' {% if student.education == '2nd'%} selected {% endif %}>2nd year of high school</option>
        <option value='3rd' {% if student.education == '3rd'%} selected {% endif %}>3rd year of high school</option>
      </select>
    </div>
  </li>

  <li class="item">
    <div>Weekly workload: (h)</div>
    <div>
      <input type="number" name='weekly' placeholder='Desired weekly workload:' value='{{ student.weekly }}'>
    </div>
  </li>
</ul>