{% extends 'layout.njk' %}

{% block content %}

<form class="card" method='POST' action='/teachers'>
  <section class="image"></section>

  <section class="details">
    <h3>New Teacher:</h3>

    {% include 'teachers/fields.njk'%} 

    <div class="button">
      <button type='submit'>Save</button>
    </div>

  </section>
</form>

{% endblock content %}