{% extends 'layout.njk' %}

{% block content %}

<div class="card">
  <section 
  class="image"
  style='background: url({{ teacher.avatar_url }}) no-repeat center center / cover'>
  </section>

  <section class="details">

    <form  id='form-update' method='post' action='/teachers?_method=PUT'>
      
      <h3>Edit Teacher:</h3>

      {% include 'teachers/fields.njk'%} 

      <div class="button">
        <button class='save' type='submit'>Save</button>
        <button form='form-delete' class='delete' type="submit">Delete</button>
      </div>
      
      <input type="hidden" name="id" value="{{ teacher.id }}"> 

    </form>

    <form id='form-delete' method="post" action="/teachers?_method=DELETE">
      <input type="hidden" name="id" value="{{ teacher.id }}">    
    </form> 

    {% include 'confirm.njk'%} 

  </section>  
</div>

{% endblock content %}