<ul>
  <li class="item">
    <div>Avatar_URL:</div>
    <div>
      <input type="url" name='avatar_url' placeholder='http://' value='{{ teacher.avatar_url }}'>
    </div>
  </li>

  <li class="item">
    <div>Full name:</div>
    <div>
      <input type="text" name='name' placeholder='Enter your full name' value='{{ teacher.name }}'>
    </div>
  </li>

  <li class="item">
    <div>Date of birth:</div>
    <div>
      <input type='date' name='birth_date' value='{{ teacher.birth_date }}'>
    </div>
  </li>

  <li class="item">
    <div>Educational level:</div>
    <div>
      <select name='education_level' required>
        <option value="" disabled selected>Select</option>
        <option value='high_school' 
        {% if teacher.education_level == 'high_school'%} selected {% endif %}>Complete High School</option>
        <option value='higher_education' 
        {% if teacher.education_level == 'higher_education'%} selected {% endif %}>Complete Higher Education</option>
        <option value='masters' 
        {% if teacher.education_level == 'masters'%} selected {% endif %}>Master</option>
        <option value='doctorate' 
        {% if teacher.education_level == 'doctorate'%} selected {% endif %}>Doctorate</option>
      </select>
    </div>
  </li>

  <li class="item">
    <div>Class type:</div>
    <div>
      <span>
        <input type='radio' name='class_type' value='presential' 
        {% if teacher.class_type == 'presential' %} checked {% endif %}>Presential
      </span>
      <span>
        <input type='radio' name='class_type' value='remotely'
        {% if teacher.class_type == 'remotely' %} checked {% endif %}>Remotely
      </span>
    </div>
  </li>

  <li class="item">
    <div>University taught:</div>
    <div>
      <input type='text' name='subjects_taught' placeholder='Separate the disciplines provided by a comma' value='{{ teacher.subjects_taught }}'>
    </div>
  </li>
</ul>