{% extends 'layout.njk' %}

{% block content %}

<div class='card'>
  <section 
  class='image'
  style='background: url({{ teacher.avatar_url }}) no-repeat center center / cover'>
  </section>

  <section class='details'>
    <h3>Informations:</h3>

    <ul>
      <li class='item'>
        <div>Full name:</div>
        <div>{{ teacher.name }}</div>
      </li>

      <li class='item'>
        <div>Age:</div>
        <div>{{ teacher.age }}</div>
      </li>
      
      <li class='item'>
        <div>Education level:</div>
        <div>{{ teacher.education }}</div>
      </li>

      <li class='item'>
        <div>Class type:</div>
        <div>{{ 'Presential' if teacher.class_type == 'presential' else 'Remotely' }}</div>
      </li>

      <li class='item'>
        <div>University subject:</div>
        <div>
          {% for discipline in teacher.disciplines %}
            <span>{{ discipline }}</span>
          {% endfor %}
        </div>
      </li>
      
      <li class='item'>
        <div>On the platform since:</div>
        <div>{{ teacher.created_at }}</div>
      </li>
    </ul>

    <div class="button">
      <a class='button' href="/teachers/{{ teacher.id }}/edit">Edit</a> 
    </div>
    
  </section>
</div>

{% endblock content %}