{% extends 'layout.njk' %}

{% block content %}

{% block head %}
  <title>About - {{about.name}}</title>

  <link rel="stylesheet" href="/index.css">
{% endblock %}

    <div id="package">
      <img src="{{about.avatar_url}}" alt="{{about.name}}"> 
      <h1>{{about.name}}</h1>
      <h2>{{about.description}}</h2>
      <p>{{about.rocket}}</p>    
      
      <ul>
        {{about.tech}}

      {% for tech in about.technologies%}
        <li>{{tech}}</li>
      {% endfor %}
      </ul>
    </div>

{% endblock %}