{% extends 'layout.njk' %}

{% block content %}

{% block head %}
  <title>Content - Rocketseat</title>

  <link rel="stylesheet" href="content.css">
{% endblock %}

    <div class="content">
      <section class="cards">

      {% for item in items %}
        <div class="card" id="{{item.id}}">
          <div class="card_image-container">
            <div class="{{item.id}}-span">
              <span>{{item.span}}</span>
            </div>
            <img src="https://skylab.rocketseat.com.br/static/media/{{item.img_id}}" alt="{{item.id}}">
          </div>
          <div class="card_content">
            <p>
              {{item.description}}
            </p>
          </div>
          <div class="card_info">
            <p>{{item.modules}}</p>
            <p class="card_price" id="{{item.id}}_price">{{item.price}}</p>
          </div>
        </div>
      {% endfor %}
        
      </section>
    </div>

    <div class="modal-overlay">
      <div class="modal">
        <a class="close-modal"><img src="./assets/close-black-18dp.svg" alt="Close"></a>
        <a class="maximize-modal"><img src="./assets/aspect_ratio-black-18dp.svg" alt="Maximize"></a>

       <div class="modal-content">
         <iframe src="" frameborder="0"></iframe>
       </div>

      </div>
    </div>
  
    <script src="scripts.js"></script>

{% endblock %}
