{% extends 'layout.njk' %}

{% block head %}
  <title>Page not found</title>

  <link rel="stylesheet" href="not-found.css">
{% endblock %}

{% block content %}
  <div class="content">
    <h1>Página não encontrada</h1>
  </div>
{% endblock %}
