<div class='item'>
  <div>Avatar URL:</div>
  <div>
    <input type='url' name='avatar_url' placeholder='https://' value='{{ member.avatar_url }}' >
  </div>
</div>

<div class='item'>
  <div>Name:</div>
  <div>
    <input type='text' name='name' placeholder='Enter your name' value='{{ member.name }}'>
  </div>
</div>

<div class='item'>
  <div>Email:</div>
  <div>
    <input type='email' name='email' placeholder='Enter your email' value='{{ member.email }}'>
  </div>
</div>
  
<div class='item'>
  <div>Date of birth:</div>
  <div>
    <input type='date' name='birth' value='{{ member.birth }}'>
  </div>
</div>
  
<div class='item'>
  <div>Sex:</div>
  <div>
    <span>
      <input type='radio' name='gender' value='M'
      {% if member.gender == 'M' %} checked {% endif %}>Male
    </span>
    <span>
      <input type='radio' name='gender' value='F' 
      {% if member.gender == 'F' %} checked {% endif %} >Female
    </span>
  </div>
</div>

<div class='item'>
  <div>Blood type:</div>
  <div>
    <select name="blood">
      <option value="A1">A+</option>
      <option value="A0">A-</option>
      <option value="B1">B+</option>
      <option value="B0">B-</option>
      <option value="AB1">AB+</option>
      <option value="AB0">AB-</option>
      <option value="O1">O+</option>
      <option value="O0">O-</option>
    </select>
  </div>
</div>

<div class='item'>
  <div>Weight: (kg)</div>
  <div>
    <input type='number' name='weight' placeholder='Enter your weight' value='{{ member.weight }}'>
  </div>
</div>

<div class='item'>
  <div>Height: (cm)</div>
  <div>
    <input type='number' name='height' placeholder='Enter your height' value='{{ member.height }}'>
  </div>
</div>

<div class='item'>
  <div>Instructor:</div>
  <div>
    <select name="instructor">
      {% for instructor in instructorOptions %}
        <option value="{{ instructor.id }}" {% if member.instructor_id  == instructor.id %} selected {% endif %}>
          {{ instructor.name }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>

<button type='submit'>Save</button>
