{% extends 'layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/styles/index.css">
    <title>Gym Manager</title>
{% endblock %}

{% block content %}
  <div class='card table-container'>

    <div class="header">
      <a class="button" href="/members/create">New</a> 

      <form action="/members" method="get">
        <input type="text" name="filter" value="{{ filter }}" placeholder="Name or email">
        <button type="submit">Filter</button>
      </form>
    </div>

    <table width='100%'>

      <thead>
        <tr>
          <th>Member</th>
          <th>Email</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        {% for member in members%}
        <tr>
          <td>
            <span style="background-image: url({{ member.avatar_url }})"></span>
            {{ member.name }}
          </td>
          <td>{{ member.email }}</td>
          <td>{{ member.height }}cm</td>
          <td>{{ member.weight }}kg</td>
          <td><a href="/members/{{ member.id }}">Open</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div 
    class="pagination"
    data-page={{pagination.page}} 
    data-total={{pagination.total}}
    data-filter={{filter}}
    ></div>
  </div>

{% endblock content %}