{% extends 'layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/styles/index.css">
    <title>Gym Manager</title>
{% endblock %}

{% block content %}

  <div class='card table-container'>
    <div class="header">
      <a href="/members/create">New</a> 
    </div>

    <table width='100%'>

      <thead>
        <tr>
          <th>Member</th>
          <th>Email</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        {% for member in members%}
        <tr>
          <td>
            <span style="background-image: url({{ member.avatar_url }})"></span>
            {{ member.name }}
          </td>
          <td>{{ member.email }}</td>
          <td>{{ member.height }}cm</td>
          <td>{{ member.weight }}kg</td>
          <td><a href="/members/{{ member.id }}">Open</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}