@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

:root {
  --rocket-color:(#7159c1);
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2e2f35;
  font-family: Roboto;
  color: white;
}

header {
  padding: 30px;
  border-bottom: 1px solid rgb(100, 97, 97);
}

.links {
  text-align: center;
}

.links a {
  font-size: 18px;
  line-height: 28px;
  color: white;
  text-decoration: none;
  padding-right: 30px;
}
.links a:hover {
  color: #7159c1;
  transition: 500ms;
}

#package {
  text-align: center;
  padding: 30px;
}

#package img {
  height: 250px;
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: 32px;
}

#package h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}

#package h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.6;
}

#package p {
  max-width: 500px;
  margin: 32px auto;
  font-size: 24px;
}

#package ul {
  padding: 5px;
  max-width: 500px;
  margin: 50px auto;
  font-size: 24px;
  line-height: 40px;
  border: 1px solid white;
}

#package ul li {
  font-size: 18px;
  list-style-type: none;
}

#links-footer {
  margin-bottom: 8px;
}
#links-footer a {
  border-bottom: 1px solid #7159c1;
  padding: 0;
  margin:  18px;
}