<script src="/scripts/lottie.min.js"></script>
<script>
  const element = document.querySelector(".success-lottie")

  lottie.loadAnimation({
    container: element, // the dom element that will contain the animation
    renderer: "svg",
    loop: false,
    autoplay: true,
    path: "/assets/37265-success-animation.json" // the path to the animation json
  });
</script>