#package {
  text-align: center;
  padding: 30px;
}

#package img {
  height: 250px;
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: 32px;
}

#package h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}

#package h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.6;
}

#package p {
  max-width: 500px;
  margin: 32px auto;
  font-size: 24px;
}

#package ul {
  padding: 5px;
  max-width: 500px;
  margin: 50px auto;
  font-size: 24px;
  line-height: 40px;
  border: 1px solid white;
}

#package ul li {
  font-size: 18px;
  list-style-type: none;
}
