{% extends 'layout.njk' %}

{% block content %}

  <form class='card' method='POST' action='/instructors'>
    <section class='avatar'></section>

    <section class='details'>
      <h3>Edit Instructor</h3>

      {% include 'instructors/fields.njk' %}
   
    </section>
  </form>

{% endblock content %}