{% extends 'layout.njk' %}%}

{% block content %}

  <div class='card'>
    <section class='avatar'></section>

    <section class='details'>
      <h3>Details</h3>

      <div class="item">
        <div>Instructor:</div>
        <div>Ian Ramos</div>
      </div>
        
      <div class="item">
        <div>Age:</div>
        <div>28</div>
      </div>
        
      <div class="item">
        <div>Sex:</div>
        <div>Male</div>
      </div>
      
      <div class="item">
        <div>Line of work:</div>
        <div>
          <span>Bodybuilding</span>
          <span>Crossfit</span>
        </div> 
      </div>
      
      <div class="item">
        <div>Since:</div>
        <div>08/08/2020</div>
      </div>
        
    </section>
  </div>

{% endblock content %}